@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.work-sans {
    font-family: 'Work Sans', sans-serif;
}
                
#menu-toggle:checked + #menu {
            display: block;
}
        
.hover\:grow {
            transition: all 0.3s;
            transform: scale(1);
}
        
.hover\:grow:hover {
            transform: scale(1.02);
}
        
.carousel-open:checked + .carousel-item {
            position: static;
            opacity: 100;
}
        
.carousel-item {
            -webkit-transition: opacity 0.6s ease-out;
            transition: opacity 0.6s ease-out;
}
        
#carousel-1:checked ~ .control-1,
        #carousel-2:checked ~ .control-2,
        #carousel-3:checked ~ .control-3 {
            display: block;
}
        


input[type="radio"] {
  display: none;
}